@import "./sass/Reset";
@import "./sass/Navbar";
@import "./sass/Landing";
@import "./sass/Auth";
@import "./sass/Dashboard";
@import "./sass/CreateProfile";

body {
  font-family: "Lato", sans-serif;
}

.App {
  height: 100vh;
  background: #fafafa;
  overflow: hidden;
}

body {
  background: #f4f4f4;
}

.btn-profile-back {
  background: #fff;
  color: #d8153b;

  &:hover {
    border: 1px solid #fff;
    background: #d8153b;
    color: #fff;
  }
}

.btn-view {
  background: #fff;
  color: #d8153b;
  border-color: #d8153b;

  &:hover {
    border: 1px solid #d8153b;
    background: #d8153b;
    color: #fff;
  }
}

.is-invalid {
  border: 0.1rem solid red;
}
.errors {
  color: red;
  text-align: center;
}

.text-view {
  color: #d8153b;
}

.btn-feed {
  background: #fff;
  color: #d8153b;
  border-color: #d8153b;

  &:hover {
    border: 1px solid #ffff;
    background: #d8153b;
    color: #fff;
  }
}

.feed {
  margin-top: 4vh;
  height: 100vh;
}

.btn-light {
  &:hover {
    background: #d8153b;
  }
}
