@import './sass/Reset';
@import './sass/Navbar';
@import './sass/Landing';
@import './sass/Auth';
@import './sass/Dashboard';
@import './sass/CreateProfile';


.App {
  height: 100vh;
  background: #212121;
  overflow: hidden;
}

body {
  background: #f4f4f4;
}

.btn-profile-back {
  background: #fff;
  color: #d8153b;

  &:hover {
    border: 1px solid #fff;
    background: #d8153b;
    color: #fff;
  }
}

.btn-view {
  background: #fff;
  color: #D8153B;
  border-color: #D8153B;

  &:hover {
    border: 1px solid #D8153B;
    background: #D8153B;
    color: #fff;
  }
}

.is-invalid {
  border: 0.1rem solid red;
}
.errors {
  color: red;
  text-align: center;
}

.text-view {
  color: #D8153B;
}

.btn-feed {
  background: #fff;
  color: #d8153b;
  border-color: #D8153B;

  &:hover {
    border: 1px solid #ffff;
    background: #d8153b;
    color: #fff;
  }
}

.feed {
  margin-top: 4vh;
  height: 100vh;
}

.btn-light{
  

  &:hover{
    background: #D8153B;
  }
}