@import "./sass/Reset";
@import "./sass/Navbar";
@import "./sass/Landing";
@import "./sass/Register";
@import "./sass/Login";
@import "./sass/Dashboard";
@import "./sass/CreateProfile";
.App {
  background: #1c5bd6;
  height: 100vh;
}

.profiles {
  background: #1c5bd6;
}

.btn-profile-back {
  background: #fff;
  color: #1c5bd6;

  &:hover {
    border: 1px solid #fff;
    background: #1c5bd6;
    color: #fff;
  }
}

.btn-view {
  background: #1c5bd6;
  color: #fff;

  &:hover {
    border: 1px solid #1c5bd6;
    background: #fff;
    color: #1c5bd6;
  }
}
