.create-profile {
  background: #fff;
  height: 95vh;
  padding: 0.5rem;
  margin: 50px;

  .is-invalid {
    border: 0.1rem solid red;
  }
  .errors {
    color: red;
    text-align: center;
  }

  .btn-md,
  .btn-primary .center-block {
    background: #1c5bd6 !important;
    border: none !important;
    padding: 0.5rem 1rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }

  small {
    margin: 0 auto;
  }

  .form-control {
    width: 30%;
    margin: 1rem auto;
  }

  .bio {
    resize: none;
  }

  .social-input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    width: 30%;
    align-items: center;

    input {
      margin-left: 1rem;
      width: 31rem;
    }
  }
}
