.dashboard {
  background: #fff;

  height: 80vh;
  padding: 3rem;
  margin: 50px;
}

.btn-light {
  background: #f8f9fa;
  margin: 0 2rem !important;
  border: none;

  &:hover {
    background: #1c5bd6;
    color: #fff;
    transition: all ease-in-out 0.3s;
    i {
      color: #fff;
    }
  }
}

.bg-now {
  background: rgb(28, 91, 214);
}

.btn-delete {
  margin-right: auto;
  margin-left: 0.4rem;
  text-align: center;
}

// .profile-actions {
//   // padding-left: 0;
//   padding: 0;
// }

.btn-edit-profile {
  margin-left: 0.4rem !important;

  &:hover {
    background: #14abbd;
    color: #ffff;
  }
}
