.landing {
  background: #fff;
  height: 80vh;

  img {
    margin: 0 auto;
  }

  h1 {
    text-align: center;
  }

  .btn,
  .btn-lg,
  .btn-block {
    margin-bottom: 2rem !important;
    margin-left: 0 !important;
  }
}
