.login {
  background: #fff;
  min-height: 60vh;
  h1 {
    text-align: center;
    font-family: "Roboto Mono", monospace;
  }
  form {
    margin: 0 auto;
  }

  input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    outline: none;
    border: 0.1rem solid rgba(51, 51, 51, 0.1);

    text-indent: 0.5rem;

    &:focus {
      border: 0.2rem solid rgba(51, 51, 51, 0.6);
      font-weight: bold;
      transition: all ease-in-out 0.2s;
    }
  }

  .is-invalid {
    border: 0.1rem solid red;
  }
  .errors {
    color: red;
  }

  input[type="submit"] {
    border: 0.1rem solid rgb(28, 91, 214);
    background: rgb(28, 91, 214);

    &:hover {
      background: #fff;
      color: rgb(28, 91, 214);
      transition: all ease-in-out 0.3s;
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .Login {
    input {
      width: 20rem;
    }
  }
}

// // Medium devices (tablets, 768px and up)
// @media (min-width: 768px) { ... }

// // Large devices (desktops, 992px and up)
// @media (min-width: 992px) { ... }

// // Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) { ... }
