.register {
  background: #fff;
  min-height: 80vh;

  h1 {
    text-align: center;
    font-family: 'Roboto Mono', monospace;
  }
  form {
    margin: 0 auto;
  }

  input {
    display: block;
    outline: none;
    border: 0.1rem solid rgba(51, 51, 51, 0.1);
    text-indent: 0.5rem;
    padding: 0.6rem;

    &:focus {
      border: 0.2rem solid rgba(51, 51, 51, 0.6);
      font-weight: bold;
      transition: all ease-in-out 0.2s;
    }
  }

  .is-invalid {
    border: 0.1rem solid red;
  }
  .errors {
    color: red;
  }

  input[type='submit'] {
    border: 0.1rem solid#14ABBD;
    background: #14abbd;

    &:hover {
      background: #fff;
      color: #14abbd;
      transition: all ease-in-out 0.3s;
    }
  }
}
